  @charset "utf-8";

*{ box-sizing: border-box; }

/* ― 全体基本設定 ― */
body{
  font-family: "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Meiryo", sans-serif;
  margin: auto;
  cursor: none;
  overflow-x: hidden;
}
.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  background-color: #00000055;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* ― ec ― */
.background {
  position: fixed;
}
.background img {
  width: 100%;
  opacity: 0.1;
}

.homecontent, .toycontent, .virtualcontent, .contactcontent {
  position: relative;
  max-width: 1470px;
  margin: 0 auto;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 0 11px 0;
}
.header h1 {
  margin: 0;
}
.header a {
  cursor: none;
}
.header img {
  margin: 0 0 -9px 0;
  width: 270px;
  opacity: 0.8;
}
.header img:hover {
  opacity: 0.9;
}
.header_menu ul {
  list-style: none;
  display: flex;
  margin: 0 419px 2px 0;
  padding: 0;
  gap: 50px;
  font-size: 17px;
  font-weight: bold;
}
.header_menu li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  cursor: none;
}
.header_menu li a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.header_menu .onclick a {
  text-decoration: underline;
}
.header_nav {
  display: flex;
  margin: 0 0 3px 0;
  gap: 15px;
}
.header_nav form {
  display: flex;
  background-color: #ffffff;
  border: 0.5px solid #000000bd;
  padding: 3px 10px;
  margin: 3px 11px 0 0;
  border-radius: 20px;
}
.header_nav input {
  background-color: #ffffff00;
  border: none;
  font-size: 15px;
  width: 170px;
  cursor: none;
}
.header_nav button {
  background: none;
  border: none;
  cursor: none;
  padding: 0px 2px;
  margin: 0 0 6px 0;
}
.header_nav button img {
  width: 20px;
}
.header_nav form button:hover {
  background-color: #ffffff00;
}
.header_nav a {
  cursor: none;
}
.header_nav a img {
  width: 32px;
}

/* footer */
.footer {
  margin: 3px auto 0;
  display: flex;
  justify-content: flex-end
}
.footer_copyright {
  color: rgba(0, 0, 0, 0.2);
}


/* - homecontent - */
.content_home {
  margin: 0 -2px;
  border-radius: 15px;
  border: 2px solid #c88a4499;
  background-color: #ffb66215;
}
.content_event h2 {
  font-size: 20px;
  margin: 8px 20px 9px;
  color: #875215;
}
.content_event span {
  font-size: 21px;
  color: #875215;
  margin-right: 5px;
  transition: transform 0.3s ease;
}
.content_event h2:hover {
  color: #ffb662;
}
.content_event h2:hover span {
  color: #ffb662;
}
.event_section {
  opacity: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 20px;
  justify-items: center;
}
.event_layout {
  margin-bottom: 20px;
}
.event_layout a {
  text-decoration: none;
  cursor: none;
  color: #4d0a0a;
}
.event_layout a:hover {
  text-decoration: none;
  cursor: none;
  color: #545e26;
}
.event_layout img {
  width: 200px;
  height: 140px;
}
.event_layout a:hover img {
  opacity: 0.8;
}
.event_layout .hidden_text {
  position: absolute;
  font-size: 23px;
  background-color: #5a0a0a;
  color: #fff;
  margin: -70px -12px;
  padding: 6px 30px;
}
.event_layout:hover .hidden_text { 
  opacity: 1;
  visibility: visible; 
}
.event_info {
  position: relative;
  width: 200px;
  background-color: #fff;
}
.event_info h3 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin: -7px 0 0;
  padding: 8px;
}
.event_info span {
  background-color: #5a0a0a;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  padding: 1.5px 6px 0;
  margin: 0 0 0.5px 9px;
}
.event_layout a:hover span {
  text-decoration: none;
  cursor: none;
  background-color: #545e26;
}
.event_theend {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: -135px 38px 0;
  gap: 35.5px;
}
.theend img {
  width: 250px;
  height: 30px;
  transform: rotate(-10deg);
}

.content_example {
  padding: 15.5px 21px 14.5px;
  border-top: 1.5px solid #c88a4499;
}
.content_example h2 {
  color: #630303;
  font-size: 24px;
  margin: 0;
}
.content_example span {
  font-size: 25px;
  color: #630303;
  margin-right: 3px;
}
.example_section {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(2, 1fr);
  padding: 9px 10px;
  gap: 10px;
}
.example {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.example img {
  width: 280px;
  height: 210px;
  padding: 7px;
}
.example2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -225px;
  padding-left: 32px;
}
.example2 img {
  width: 270px;
  height: 310px;
  padding: 10px;
}
.example3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 22px;
}
.example3 img {
  width: 280px;
  height: 200px;
  padding: 10px;
}
.example_section h3 {
  margin: 5px 30px;
  color: #875215;
}


/* - toycontent - */
.content_toy {
  background-color: #d65f3c55;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  padding: 32px 12px;
  gap: 22px 0;
  border-radius: 15px;
  border: 2px solid #a5a5a5bb;
}
.content_toy .toy_imfo h2 {
  color: #fff;
  font-size: 29px;
  font-weight: bold;
  margin: 0;
}
.content_toy .toy_imfo span {
  color: #fff;
  font-size: 33px;
  font-weight: bold;
  margin: 0 5px 0 0;
}
.content_toy .toy_imfo .h2_2 {
  margin: 7px -10px 27px 20px;
  color: #4c2c2c;
  font-size: 21px;
  line-height: 1.6;
}

/* 커스터마이즈된 알림 스타일 */
.custom-alert {
  display: none;
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bold;
  z-index: 100;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.custom-alert.show {
  display: block; /* 보이도록 설정 */
  opacity: 1;
  transform: translateX(-50%) translateY(-10px); /* 부드러운 애니메이션 효과 */
}
.custom-alert.hide {
  opacity: 0;
  transform: translateX(-50%) translateY(10px); /* 숨길 때 애니메이션 효과 */
}

.toy-model {
  background-color: #ffffffee;
  padding: 0 0 21px;
  border-radius: 15px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
} 
.color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.color-picker .colorInput {
  background-color: #00000000;
  width: 38px;
  height: 42px;
  margin: 15px -7px 0 7px;
  padding: 0;
  border: none;
  cursor: none;
}
.color-picker .buy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-picker label {
  font-size: 20px;
}
.color-picker button {
  background-color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 13px 4px 15px;
  margin: -1px 0 0px 7px;
  border-radius: 10px;
  border: 1px solid #ddd;
  cursor: none;
}
.color-picker button:hover {
  background: #ff957555;
  transform: translateY(-0.5px);
  box-shadow: 0px 1.5px 1px rgba(0, 0, 0, 0.25);
}


/* - virtualcontent - */
.content_virtual {
  height: 559.5px;
  background-color: #4b723ddd;
  border-radius: 15px;
  border: 2px solid #2e6e1a;
}
.content_virtual h2 {
  color: #ffffffff;
  font-size: 21px;
  margin: 14px 0 4px 24px;
}
.content_virtual span {
  color: rgb(255, 247, 27);
  font-size: 22px;
}
#play-area {
  position: absolute;
  background: linear-gradient(to top, #bdbfdf 0%, #ffffff 22%);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  right: 33px;
  transform: translateY(2%);
  width: 980px;
  height: 415px;
  cursor: none;
}
.model-gallery {
  position: absolute;
  left: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  gap: 2px 5px;
}
.model-gallery model-viewer {
  width: 94px;
  height: 94px;
  border: none;
  box-shadow: none;
  transition: transform 0.3s ease-in-out;
}
.model-gallery model-viewer:hover {
  transform: scale(1.15);
}
.play-control {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  left: 215px;
  bottom: -440px;
}
.play-control button {
  background: linear-gradient(to bottom, #6ba8ff, #2f78d3);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 7px 20px;
  border: none;
  border-radius: 50px;
  cursor: none;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.play-control button:hover {
  background: linear-gradient(to bottom, #569cfe, #216cc9);
  transform: translateY(-1.5px);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}
.play-control button:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.play-control button span {
  color: white;
}
.play-control .replay {
  background: linear-gradient(to bottom, #ff6b6b, #d32f2f);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px 7px 22px;
  border: none;
  border-radius: 50px;
  cursor: none;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.play-control .replay:hover {
  background: linear-gradient(to bottom, #ff5252, #b71c1c);
  transform: translateY(-1.5px);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}
.play-control .replay:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}


/* - contactcontent - */
.content_contact {
  display: flex;
  background-color: #c0c7e777;
  border-radius: 15px;
  border: 2px solid #a5aabc;
}
.content_faq {
  flex: 1;
  padding: 0 30px;
  background-color: #ffffffaa;
  border-radius: 15px 0 0 15px;
}
.content_faq .FAQ {
  padding: 0 11px;
}
.content_faq h3 {
  margin: 17px 0 3px;
  font-size: 20px;
}
.content_faq summary {
  font-size: 18px;
  color: #343434;
}
.content_faq p {
  margin: 3px 0 5px 35px;
  font-size: 17px;
}
.content_form {
  height: 556.5px;
  flex: 1;
  max-width: 43%;
  padding: 0px 25px;
}
.content_form ul {
  padding: 0 5px 0 15px;
}
.content_form li {
  display: flex;
  flex-direction: column;
  margin: 7px 0;
  font-size: 18px;
}
.content_form input {
  border-radius: 5px;
  border: 1px solid #1b4259cc;
  width: 65%;
  font-size: 19px;
  padding: 6px;
}
.content_form textarea {
  border-radius: 5px;
  border: 1px solid #1b4259cc;
  font-size: 19px;
}
form input:focus, form textarea:focus {
  background-color: #ffffffaa;
}
.content_form button {
  width: 72px;
  padding: 9px 0;
  margin-top: 22px;
  margin-left: auto;
  border: 1px solid #ffffff00;
  border-radius: 10px;
  background-color: #29567199;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: none;
}
form button:hover {
  background-color: #1b4259;
}


/* - login - */
.login_contact {
  display: flex;
  justify-content: center;
  width: 650px;
  margin: 15px auto;
  padding: 15px;
}
.login_contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 30px 100px 72.8px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.login_contact h2 {
  font-size: 26px;
  margin: 0 auto 23px;
  color: #333;
}
.input-group {
  width: 310px;
  margin-bottom: 25px;
}
.input-group input {
  width: 100%;
  padding: 17px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border 0.3s ease;
}
.input-group input:focus {
  border-color: #1b4259;
  outline: none;
}
.input_id {
  display: flex;
  gap: 35px;
  margin: 3px auto 0;
}
.login_contact button {
  width: 120px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: none;
  transition: background 0.3s ease;
}
#make-id {
  background-color: #b94d49;
  color: white;
  padding: 13px;
}
#make-id:hover {
  background-color: #bc2a25;
}
#login-id {
  background-color: #2a5168;
  color: white;
  padding: 13px;
}
#login-id:hover {
  background-color: #16364b;
}


/* - cart - */
.cart_contact {
  width: 650px;
  margin: 13px auto 14px;
  padding: 15px 15px 17px 15px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.cart_contact h2 {
  font-size: 25px;
  color: #333;
  margin: 11px;
}
.cart_contact ul {
  padding: 0;
  margin: 15px;
}
.cart_contact .cart-item {
  display: flex;
  justify-content: space-around;
  background: #f9f9f9;
  padding-right: 60px;
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
}
.cart_contact .price {
  font-size: 23px;
  font-weight: bold;
  color: #1b4259;
}
.cart_contact p {
  margin: 10px auto 11px;
}

.empty-cart {
  color: #999;
  font-size: 18px;
  list-style: none;
}

.cart_footer {
  display: flex;
  justify-content: space-between;
}
.cart_footer button {
  width: 220px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: none;
  transition: background 0.3s ease;
}
#clear-cart {
  background-color: #b94d49;
  color: white;
  padding: 15px 0;
  margin: 6px 40px;
}
#clear-cart:hover {
  background-color: #bc2a25;
}
#checkout {
  background-color: #2a5168;
  color: white;
  padding: 13px 0;
  margin: 6px 40px;
}
#checkout:hover {
  background-color: #16364b;
}




